In [78]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [79]:
#read files in
rounds2 = pd.read_csv("rounds2.csv", encoding='unicode_escape')
companies = pd.read_csv("companies.csv", encoding='unicode_escape')

In [80]:
rounds2.shape

(114949, 6)

In [81]:
rounds2.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [82]:
companies.shape

(66368, 10)

In [83]:
companies.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04/09/14
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01/01/07
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01/01/10

In [112]:
#count number of unique values in rounds2 df
rounds2_unique = len(rounds2.company_permalink.unique())
rounds2_unique

66370

In [113]:
#count number of unique values in companies df
companies_unique = len(companies.permalink.unique())
companies_unique

66368

In [114]:
# are there any companies in rounds 2 which are not present in companies
rounds_1 = pd.DataFrame(rounds2.company_permalink.unique())
companies_1 = pd.DataFrame(companies.permalink.unique())
companies_1.equals(rounds_1)

False

In [115]:
#convert all rows to string to merge into lower case
rounds2['company_permalink'] = rounds2['company_permalink'].str.lower()
companies['permalink'] = companies['permalink'].str.lower()

In [116]:
#merge companies and rounds2 on permalink, company_permalink column 
master_frame = pd.merge(rounds2, companies, how = 'left', left_on = 'company_permalink', right_on = 'permalink')

In [117]:
#count 
master_frame.shape

(114949, 16)

In [118]:
master_frame.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/organization/-qounter,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04/09/14
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04/09/14
3,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01/01/07

In [119]:
#check sum of null values in master_frame 
master_frame.isnull().sum(axis=0)

company_permalink              0
funding_round_permalink        0
funding_round_type             0
funding_round_code         83809
funded_at                      0
raised_amount_usd          19990
permalink                     74
name                          75
homepage_url                6200
category_list               3461
status                        74
country_code                8711
state_code                 10977
region                     10200
city                       10197
founded_at                 20562
dtype: int64

In [120]:
#check to see % of missing values in master_frame 
round(master_frame.isnull().sum()/len(master_frame.index), 2)*100

company_permalink           0.0
funding_round_permalink     0.0
funding_round_type          0.0
funding_round_code         73.0
funded_at                   0.0
raised_amount_usd          17.0
permalink                   0.0
name                        0.0
homepage_url                5.0
category_list               3.0
status                      0.0
country_code                8.0
state_code                 10.0
region                      9.0
city                        9.0
founded_at                 18.0
dtype: float64

In [121]:
# drop null values from master_frame rows
master_frame = master_frame[~(master_frame['raised_amount_usd'].isnull()) | (master_frame['category_list'].isnull()) |
                            (master_frame['country_code'].isnull())]
master_frame.isnull().sum()

company_permalink              0
funding_round_permalink        0
funding_round_type             0
funding_round_code         70370
funded_at                      0
raised_amount_usd           3993
permalink                     74
name                          75
homepage_url                5232
category_list               3461
status                        74
country_code                8711
state_code                 10495
region                      9929
city                        9926
founded_at                 17870
dtype: int64

In [122]:
#drop unnecessary columns from master_frame
master_frame = master_frame.drop(['funding_round_permalink' , 'funding_round_code' , 'funded_at','permalink',
                                  'homepage_url','status','state_code', 'region', 'city', 'founded_at'], axis = 1)

In [123]:
#keep investemnts only in seed, angel, equity, PE
master_frame = master_frame[(master_frame['funding_round_type'] == "seed")|
                (master_frame['funding_round_type'] == "angel") |
                (master_frame['funding_round_type'] == "private_equity" )|
                (master_frame['funding_round_type'] == "venture")]

In [124]:
#check updated master frame 
master_frame.head()

,company_permalink,funding_round_type,raised_amount_usd,name,category_list,country_code
0,/organization/-fame,venture,10000000.0,#fame,Media,IND
2,/organization/-qounter,seed,700000.0,:Qounter,Application Platforms|Real Time|Social Network...,USA
3,/organization/-the-one-of-them-inc-,venture,3406878.0,"(THE) ONE of THEM,Inc.",Apps|Games|Mobile,NaN
4,/organization/0-6-com,venture,2000000.0,0-6.com,Curated Web,CHN
7,/organization/0ndine-biomedical-inc,seed,43360.0,Ondine Biomedical Inc.,Biotechnology,CAN

In [125]:
#check outliers 
master_frame['raised_amount_usd'].describe()

count    8.062700e+04
mean     9.347995e+06
std      7.562940e+07
min      0.000000e+00
25%      4.000000e+05
50%      2.000000e+06
75%      7.975496e+06
max      1.760000e+10
Name: raised_amount_usd, dtype: float64

In [126]:
#Representative funding amount of seed type in million
seed_df = master_frame[(master_frame.funding_round_type == "seed")]
seed_median = round(seed_df.raised_amount_usd.mean()/1000000, 2)
print("Seed Funding Amount:", seed_median, 'million')

Seed Funding Amount: 0.72 million

In [127]:
#Representative funding amount of angel type in million
angel_df = master_frame[(master_frame.funding_round_type == "angel")]
angel_median = round(angel_df.raised_amount_usd.mean()/1000000 ,2)
print("Angel Funding Amount:", angel_median, "million")

Angel Funding Amount: 0.96 million

In [128]:
#Representative funding amount of venture type in million
venture_df = master_frame[(master_frame.funding_round_type == "venture")]
venture_median = round(venture_df.raised_amount_usd.mean()/1000000, 2)
print("Venture funding Amount:", venture_median, "million")

Venture funding Amount: 11.75 million

In [129]:
#Representative funding amount of PE type in million
PE_df = master_frame[(master_frame.funding_round_type == "private_equity")]
PE_median = round(PE_df.raised_amount_usd.mean()/1000000, 2)
print("PE funding Amount:", PE_median, "million")

PE funding Amount: 73.31 million

In [130]:
#create master_frame with only venture type funding - the preffered investment type  
master_frame = master_frame[master_frame['funding_round_type'] == "venture"]
#convert to million $
master_frame['raised_amount_usd'] = master_frame['raised_amount_usd']/1000000
master_frame.head()

,company_permalink,funding_round_type,raised_amount_usd,name,category_list,country_code
0,/organization/-fame,venture,10.000000,#fame,Media,IND
3,/organization/-the-one-of-them-inc-,venture,3.406878,"(THE) ONE of THEM,Inc.",Apps|Games|Mobile,NaN
4,/organization/0-6-com,venture,2.000000,0-6.com,Curated Web,CHN
8,/organization/0ndine-biomedical-inc,venture,0.719491,Ondine Biomedical Inc.,Biotechnology,CAN
10,/organization/0xdata,venture,20.000000,H2O.ai,Analytics,USA

In [131]:
# top nine countries (based on the total investment amount each country has received)
top9 = master_frame.pivot_table(values = 'raised_amount_usd', index = 'country_code', aggfunc = 'sum')
top9 = top9.sort_values(by = 'raised_amount_usd', ascending = False)
top9.iloc[:9]

              raised_amount_usd
country_code
USA               422510.842796
CHN                39835.418773
GBR                20245.627416
IND                14391.858718
CAN                 9583.332317
FRA                 7241.142340
ISR                 6907.514579
DEU                 6345.559822
JPN                 3363.676611

In [132]:
# keep rows from top 3 english speaking countries ie USA, GBR & IND as per strategy 
master_frame = master_frame[(master_frame['country_code'] == "USA") | (master_frame['country_code'] == "GBR") |
                           (master_frame['country_code'] == "IND")]

In [133]:
#Extract the primary sector of each category list from the category_list column
master_frame['category_list'] = master_frame['category_list'].astype(str).apply(lambda x: x.split("|")[0])

In [134]:
master_frame.head()

,company_permalink,funding_round_type,raised_amount_usd,name,category_list,country_code
0,/organization/-fame,venture,10.0,#fame,Media,IND
10,/organization/0xdata,venture,20.0,H2O.ai,Analytics,USA
11,/organization/0xdata,venture,1.7,H2O.ai,Analytics,USA
12,/organization/0xdata,venture,8.9,H2O.ai,Analytics,USA
22,/organization/1-mainstream,venture,5.0,1 Mainstream,Apps,USA

In [135]:
master_frame.isnull().sum()

company_permalink       0
funding_round_type      0
raised_amount_usd     169
name                    0
category_list           0
country_code            0
dtype: int64

In [136]:
#read mapping file into dataframe 
mapping = pd.read_csv('mapping.csv')

In [137]:
mapping.head()

,category_list,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
0,NaN,0,1,0,0,0,0,0,0,0
1,3D,0,0,0,0,0,1,0,0,0
2,3D Printing,0,0,0,0,0,1,0,0,0
3,3D Technology,0,0,0,0,0,1,0,0,0
4,Accounting,0,0,0,0,0,0,0,0,1

In [138]:
#unpivot the mapping file to merge with master_frame using MELT() function 
mapping = pd.melt(mapping, id_vars =['category_list'], value_vars =['Manufacturing','Automotive & Sports',
                                                              'Cleantech / Semiconductors','Entertainment',
                                                             'Health','News, Search and Messaging','Others',
                                                             'Social, Finance, Analytics, Advertising'])

In [139]:
mapping.head(10)

        category_list       variable  value
0                 NaN  Manufacturing      0
1                  3D  Manufacturing      1
2         3D Printing  Manufacturing      1
3       3D Technology  Manufacturing      1
4          Accounting  Manufacturing      0
5    Active Lifestyle  Manufacturing      0
6        Ad Targeting  Manufacturing      0
7  Advanced Materials  Manufacturing      1
8    Adventure Travel  Manufacturing      0
9         Advertising  Manufacturing      0

In [140]:
#drop values == 0
mapping = mapping[~(mapping.value == 0)]
mapping.head()

         category_list       variable  value
1                   3D  Manufacturing      1
2          3D Printing  Manufacturing      1
3        3D Technology  Manufacturing      1
7   Advanced Materials  Manufacturing      1
15         Agriculture  Manufacturing      1

In [141]:
#drop value column from mapping file in order to merge with master_frame  
mapping = mapping.drop('value', axis = 1)
mapping.head()

         category_list       variable
1                   3D  Manufacturing
2          3D Printing  Manufacturing
3        3D Technology  Manufacturing
7   Advanced Materials  Manufacturing
15         Agriculture  Manufacturing

In [142]:
#merge mapping with master_frame 
master_frame = master_frame.merge(mapping, how ='left', on = 'category_list')
master_frame.head()

,company_permalink,funding_round_type,raised_amount_usd,name,category_list,country_code,variable
0,/organization/-fame,venture,10.0,#fame,Media,IND,Entertainment
1,/organization/0xdata,venture,20.0,H2O.ai,Analytics,USA,NaN
2,/organization/0xdata,venture,1.7,H2O.ai,Analytics,USA,NaN
3,/organization/0xdata,venture,8.9,H2O.ai,Analytics,USA,NaN
4,/organization/1-mainstream,venture,5.0,1 Mainstream,Apps,USA,"News, Search and Messaging"

In [143]:
#rename column name in mf
master_frame = master_frame.rename(columns = {"variable":"main_sector"})
master_frame.head()

,company_permalink,funding_round_type,raised_amount_usd,name,category_list,country_code,main_sector
0,/organization/-fame,venture,10.0,#fame,Media,IND,Entertainment
1,/organization/0xdata,venture,20.0,H2O.ai,Analytics,USA,NaN
2,/organization/0xdata,venture,1.7,H2O.ai,Analytics,USA,NaN
3,/organization/0xdata,venture,8.9,H2O.ai,Analytics,USA,NaN
4,/organization/1-mainstream,venture,5.0,1 Mainstream,Apps,USA,"News, Search and Messaging"

In [144]:
#analyze USA country